<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('components/utility.ejs') %>
    <title>ตระกร้าของฉัน | สหกรณ์เรือนจำ</title>
</head>
<body class="bg-gray-50">
    <!-- nvabar -->
    <%- include('components/navbar.ejs', { userName: 'เข้าสู่ระบบ', orderCount: cart.length }) %>
    <div class="container mx-auto text-center py-10 font-semibold text-[#222]  text-3xl lg:text-4xl">
        ตระกร้าของฉัน (<span><%= cart.length %></span> รายการ)
    </div>
    <div class="container mx-auto lg:px-4 mb-4">
        <div class="flex flex-col">
            <!-- cart header -->
            <div class="flex items-center bg-white gap-4 py-2 px-4 rounded-[0.375rem_0.375rem_0_0] whitespace-nowrap font-semibold border-t border-x">
                <div class="w-1/2 text-center">สินค้า</div>
                <div class="w-1/6 text-center">ราคา</div>
                <div class="w-1/6 text-center">จำนวน</div>
                <!-- <div class="w-1/6 text-center">ราคารวม</div> -->
                <div class="w-1/6 text-center">ดำเนินการ</div>
            </div>
            <!-- cart item -->

            <% if(cart.length == 0) { %>
                <div class="flex justify-center items-center bg-white py-4 rounded-[0_0_0.375rem_0.375rem] border">
                    <h1 class="text-xl font-semibold">ไม่มีสินค้าในตระกร้า</h1>
                </div>
            <% } %>
            <% if(cart.length > 0) { %>
                <% for (let i = 0; i < product.length; i++) { %>
                    <!-- if product in cart not found continue -->
                    <% if(!cart[i]) continue; %>
                    <%- include('components/cartItems.ejs', {
                        productName: product[i].productname,
                        price: product[i].productprice,
                        amount: cart[i].amount,
                        imgurl: product[i].imgurl,
                        productId: cart[i].id
                    }) %>
                <% } %>
            <% } %>
            <!-- divider cart items -->
            <div class="w-full py-2 rounded-[0_0_0.375rem_0.375rem] bg-white mb-4 border"></div>

            <!-- checkout -->
            <div class="flex justify-start gap-4 rounded-[0.375rem_0.375rem_0_0] bg-white py-2 px-4 border">
                <h1 class="text-3xl font-semibold">ยืนยันการสั่งซื้อ</h1>
            </div>

            <!-- confirm -->
            <form action="/checkout" method="post" class="flex flex-col lg:flex-row lg:justify-between items-center bg-white gap-4 py-2 px-4 border-x">
                <div class="flex items-center gap-2">
                    <h1 class="text-lg font-semibold">จัดส่งให้กับ</h1>
                    <input type="text" name="prisonername" id="prisonerName" class="border p-2 rounded-md w-56" placeholder="กรอกชื่อผู้รับ" required>
                </div>
                <div class="flex items-center gap-2">
                    <div class="flex items-center gap-2">
                        <p class="font-semibold">ราคารวมทั้งหมด</p>
                        <% let total = 0; %>
                        <% for(let i = 0; i < product.length; i++) { %>
                            <% total += product[i].productprice * cart[i].amount; %>
                        <% } %>
                        <p class="text-red-500 font-semibold">฿ <%= total %></p>
                    </div>
                    <div>
                        <input type="submit" value="สั่งซื้อสินค้า" class="bg-[#222] text-white py-2 px-4 rounded-md hover:text-[#F4BF14] transition-all cursor-pointer">
                    </div>
                </div>
            </form>
            <!-- divider cart items -->
            <div class="w-full py-2 rounded-[0_0_0.375rem_0.375rem] bg-white mb-4 border"></div>
        </div>
    </div>

    <script src="../javascript/script.js"></script>
</body>
</html>