<!-- cart items -->
<div class="flex items-center bg-white gap-4 py-2 px-4 border-t border-x hover:bg-gray-100 transition-all text-md">
    <div class="w-1/2 flex items-center gap-4">
        <img src="<%= imgurl %>" alt="product" class="w-12 h-12 object-cover rounded-md">
        <div>
            <div class="text-md lg:text-lg"><%= productName %></div>
            <!-- <div class="text-sm text-[#666]">รายละเอียดสินค้า</div> -->
        </div>
    </div>
    <div class="w-1/6 text-center"><%= category %></div>
    <div class="w-1/6 text-center"><%= price %></div>
    <div class="w-1/6 flex flex-col lg:flex-row justify-center items-center gap-2">
        <a href="/editproduct/<%= productId %>" class="text-white bg-yellow-500 hover:bg-yellow-600 py-1 px-4 rounded-md transition-all">แก้ไข</a>
        <a href="/deleteproduct/<%= productId %>" class="text-white bg-red-500 hover:bg-red-600 py-1 px-4 rounded-md transition-all" onclick="return confirm('คุณต้องการลบสินค้านี้หรือไม่');">ลบสินค้า</a>
    </div>
</div>

